@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;750&display=swap');

*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}


img[alt="logo"]  {
    width: 7rem ;
    border-radius: 50%;
}

.homebg {
  
    width: 100%; 
    background-repeat: no-repeat;  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px; /* Height of the navbar */
    margin-bottom: 60px; /* Height of the footer */
}

h1  {
    font-size: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

h2  {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Card styles */
.card {
    width: 18rem;
    display: flex;
    justify-content: space-around; /* Distribute items evenly with space between them */
    align-items: flex-start; /* Align items to the start of the flex container */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px; /* Spacing between cards */
    padding-top: 20px; /* Example padding */
    padding-bottom: 20px; /* Example padding */
    /* Other card styles */
}

.background {

    background-repeat: no-repeat;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}