@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;750&display=swap');

*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color:white;  */
    
}

.fine {
    width: 2rem;
    height: 4rem;
}



img[alt="logo"]  {
    width: 7rem ;
    border-radius: 50%;
}

.mine {
    background-image: url('https://i.ibb.co/rs7THB0/Screenshot-2023-12-07-123643.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1  {
    font-size: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

h2  {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Card styles */
.card {
    width: 18rem;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding-top: 20px; 
    padding-bottom: 20px; 

}

.background {

    background-repeat: no-repeat;
}


h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
.space {
   
    margin-right: 400px;
    padding: 8px 12px;
        /* border: none;
        border-radius: 4px; */
    background-color: #030303;
    color:  #e1d5d5;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.spaced {
    /* max-width: 400px; */
    max-height: 29px;
}
/* For mobile or smaller screens */
@media screen and (max-width: 600px) {
    .space {
        display: block;
        margin-bottom: 100px; /* Adjust the space between input and button for smaller screens */
        /* border-radius: 5vw; */
    }
}

.container {
    display: flex;
    justify-content: space-between; /* Elements on opposite ends */
    align-items: center;
}

.form-control{
    max-width: 400px;
} 


.container {
    width: 80%;
    margin: 20px auto;
    /* background-color: #fff; */
    padding: 20px;
    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    text-align: center;
    color: black;
    font-size: 6rem ;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

[type="text"],
[type="email"],
textarea {
    width: 200%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #252222;
}

textarea {
    resize: vertical;
}

.mine {
    background-image: url('https://i.ibb.co/rs7THB0/Screenshot-2023-12-07-123643.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(106.1vh - 3.5rem - 4rem); /* Adjust according to your header and footer height */
  }

button.cntct {
    display: block;
    width: 200%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color:  rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a5a5a;
}

p.image img {
    max-width: 50px; /* Set the maximum width for this specific image */
    height: auto; /* Maintain aspect ratio */
}

.lead {
font-size: small;
}

.display-1 {
   font-size:  6rem;
}

tr {
    border: #252222;
}

td{
    border: #252222;
}

.story{
    font-size: 15px;
}

h4 {
font-size: 4rem;
}

h5 {
font-size: 5.5rem;
display: flex;
justify-content: center;
align-items: center;
}

.btn {
    max-width:56px;
    background-color: #000000;
    color:white
    
}

img {
    max-width: 100%;
    height: auto;
  }
  
  /* For medium-sized screens */
  @media screen and (min-width: 768px) {
    img {
      max-width: 90%;
    }
  }
  
  /* For large screens */
  /* @media screen and (min-width: 992px) {
    img {
      max-width: 60%;
    }
  } */